@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-container {
    position: relative;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    transition: .5s ease;
  }
  
  .overlay { /* Overlay from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%; */
    width: 100%;
    opacity: 0.9;
    transition: .5s ease;
  }
  
  .hover-container:hover .overlay {
    opacity: 1;
  }
  
  .hover-img {
    display: block;
    width: 100%;
    height: inherit;
    max-height: 100%;
    object-fit: cover;
  }
  
  .hover-container:hover {
    transform: scale(1.025);
  }

  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .svgDrawdown {
    fill: #11487c;
  }

  .svgSky { 
    fill: #7fa1c1;
  }